<div class="contact-area-1 space overflow-hidden" data-bg-src="{{ asset('assets/img/bg/contact-1-bg.png') }}">
    <div class="container">
        <div class="row gy-40 gx-80 align-items-center">
            <div class="col-lg-6">
                <div class="title-area wow custom-anim-left">
                    <h2 class="sec-title text-white">Visit Your Plan & Event date</h2>
                    <p class="sec-text text-gray">Discover resources curated for learners at every stage.</p>
                </div>
                <div class="countdown-wrap wow custom-anim-left" data-bg-src="{{ asset('assets/img/bg/contact-countdown-bg.png') }}">
                    <ul class="countdown-list cta-countdown" data-offer-date="10/24/2024">
                        <li><div class="day count-number">00</div><span class="count-name">Days</span></li>
                        <li><div class="hour count-number">00</div><span class="count-name">Hours</span></li>
                        <li><div class="minute count-number">00</div><span class="count-name">Mins</span></li>
                        <li><div class="seconds count-number">00</div><span class="count-name">Secs</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-form-area wow custom-anim-right">
                    <h3 class="from-title text-white mb-35">BOOK YOUR SEAT:</h3>
                    <form action="#" method="POST" class="contact-form">
                        <div class="row gx-20">
                            <div class="col-xl-6"><input type="text" class="form-control style-border" placeholder="Number of guest"></div>
                            <div class="col-xl-6"><input type="date" class="form-control style-border" required></div>
                            <div class="col-lg-6"><input type="time" value="12:00" class="form-control style-border"></div>
                            <div class="col-lg-6">
                                <select class="form-select style-border">
                                    <option value="" disabled selected>Sex</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                            <div class="col-lg-12"><input type="number" class="form-control style-border" placeholder="Phone No"></div>
                        </div>
                        <div class="form-btn col-12 mt-4">
                            <button type="submit" class="btn">MAKE ADMISSION</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>