<div class="hero-wrapper hero-1" id="hero">
    <div class="global-carousel" id="heroSlider1" data-slide-show="1" data-md-slide-show="1" data-fade="true">
        
        {# Slide 1 #}
        <div class="hero-slider" data-bg-src="{{ asset('assets/img/hero/hero_bg_1_1.png') }}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="hero-style1">
                            <span class="sub-title wow custom-anim-left" data-wow-duration="1.2s" data-wow-delay="0.1s">
                                WELCOME TO ARTVISTA
                            </span>
                            <h1 class="hero-title wow custom-anim-left" data-wow-duration="1.2s" data-wow-delay="0.2s">
                                Discover the Beauty of <span class="text-theme">Modern Art</span>
                            </h1>
                            <p class="hero-text wow custom-anim-left" data-wow-duration="1.2s" data-wow-delay="0.3s">
                                Explorez nos galeries exclusives et participez à des événements artistiques uniques au cœur de la ville.
                            </p>
                            <div class="btn-group wow custom-anim-left" data-wow-duration="1.2s" data-wow-delay="0.4s">
                                <a href="{{ path('app_formation_front') }}" class="btn">NOS FORMATIONS</a>
                                <a href="#" class="btn btn-border">EXPLORER</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Slide 2 #}
        <div class="hero-slider" data-bg-src="{{ asset('assets/img/hero/hero_bg_1_2.png') }}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="hero-style1">
                            <span class="sub-title wow custom-anim-left" data-wow-duration="1.2s" data-wow-delay="0.1s">
                                CREATIVE EXHIBITIONS
                            </span>
                            <h1 class="hero-title wow custom-anim-left" data-wow-duration="1.2s" data-wow-delay="0.2s">
                                Unleash Your <span class="text-theme">Creativity</span>
                            </h1>
                            <p class="hero-text wow custom-anim-left" data-wow-duration="1.2s" data-wow-delay="0.3s">
                                Apprenez les techniques des maîtres sculpteurs et peintres à travers nos sessions dédiées.
                            </p>
                            <div class="btn-group wow custom-anim-left" data-wow-duration="1.2s" data-wow-delay="0.4s">
                                <a href="#" class="btn">VOIR LES ÉVÉNEMENTS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    {# Navigation Arrows #}
    <div class="hero-arrow">
        <button data-slick-prev="#heroSlider1" class="slick-arrow prev-arrow"><i class="far fa-arrow-left"></i></button>
        <button data-slick-next="#heroSlider1" class="slick-arrow next-arrow"><i class="far fa-arrow-right"></i></button>
    </div>
</div>